* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: azure;
}

body {
    background-color: rgb(213, 216, 28);

}

main {
    background-color: black;
    width: 500px;
    margin:  auto;
    padding: 10px;
    box-shadow: 3px 3px 5px blueviolet ;
}